Repository jaradhcs/ai-operator-puppeteer-starter, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, tests, ci, docs

Create .releaserc
  .releaserc
Labels: none

Create release.yml
  .github/workflows/release.yml
Labels: ci

Create coverage.yml
  .github/workflows/coverage.yml
Labels: ci

Create netlify.yml
  .github/workflows/netlify.yml
Labels: ci

Create openai-notes.yml
  .github/workflows/openai-notes.yml
Labels: ci

Create puppeteer-run.yml
  .github/workflows/puppeteer-run.yml
Labels: ci

Update puppeteer-run.yml
  .github/workflows/puppeteer-run.yml
Labels: ci

Create newsletter.js
  src/newsletter.js
Labels: frontend

Update package.json
  package.json
Labels: none

Create newsletter.yml
  .github/workflows/newsletter.yml
Labels: ci

Create index.html
  site/index.html
Labels: none

Update newsletter.yml
  .github/workflows/newsletter.yml
Labels: ci

Update netlify.yml
  .github/workflows/netlify.yml
Labels: ci

.github/labeler.yml:

# Automatically label PRs based on changed files
frontend:
  - src/**/*.js
tests:
  - tests/**/*
ci:
  - .github/workflows/*
docs:
  - '**/*.md'
